:root {
	--section-border-color: black;
	--section-border-style: solid;
	--section-border-width: 2px;
	--section-border: var(--section-border-width) var(--section-border-style) var(--section-border-color);

	--button-background: rgb(27, 54, 93);
}

body *
{
	box-sizing: border-box;
	font-family: sans-serif;
}

body button
{
	text-align: center;
	cursor: pointer;
}

/* Layouts */

body.jhrm-default-layout
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	min-width: min-content;
	height: 100vh;
	min-height: min-content;
	margin: 0;
}

body.jhrm-default-layout jhrm-header
{
	grid-row: 1;
	grid-column: 1/3;
}

body.jhrm-default-layout jhrm-navigation
{
	grid-row: 2/4;
	grid-column: 1;
}

body.jhrm-default-layout jhrm-content
{
	grid-row: 2;
	grid-column: 2;
}

body.jhrm-default-layout jhrm-footer
{
	grid-row: 3;
	grid-column: 2;
}

/* Styles */


jhrm-content h1
{
	text-align: left;
	font-style: italic;
}

jhrm-content
{
	padding: 2em;
}

jhrm-footer
{
	border-top: var(--section-border);
	min-height: auto;
	background-color: lightgrey;
}

.jhrm-boxed-section
{
	min-width: min-content;
	background-color: white;
	border: 2px solid black;
	color: black;
	padding: 1em;
}

.jhrm-boxed-section h1
{
	margin: auto auto auto 0;
	font-size: x-large;
	font-style: italic;
	clear: both;
}

.jhrm-boxed-section h2
{
	margin: auto auto auto 1.5em;
	font-size: larger;
	font-style: italic;
	clear: both;
}

.jhrm-boxed-section table,
jhrm-dialog table
{
	border-spacing: 0;
	border-collapse: collapse;
}

.jhrm-boxed-section th,
.jhrm-boxed-section td,
jhrm-dialog th,
jhrm-dialog td
{
	border: var(--section-border);
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
	text-align: center;
}

.jhrm-boxed-section th,
jhrm-dialog th
{
	padding: 0.4em 0.5em 0.4em 0.5em;
	color: white;
	background-color: #4d4d4d;
}

.jhrm-boxed-section tr:nth-child(even),
jhrm-dialog tr:nth-child(even)
{
	background-color: #e3e5e8;
}

.jhrm-boxed-section tr:nth-child(odd),
jhrm-dialog tr:nth-child(odd)
{
	background-color: white;
}

jhrm-tooltip
{
	max-width : 40em;
	color: #111661;
	background-color: #b2c8f9;
	border: 2px solid rgb(27, 54, 93);
	box-shadow: 1px 1px;
	padding: 0.5em;
}

.tablescroll{
	display:block;
	max-height:16em;
}

.tablescroll th 
{
	position:sticky;
	top:0px;
}

.tablescroll table 
{
	width:100%;
	position:relative;
	border-top:none;
	border-bottom:none;
}

.tablescroll .tablewrapper
{
	overflow:auto;
	display:block;
	height:100%;
	max-height:inherit;
	min-height: 10em;
	position:relative;
	border-top: var(--section-border);
	border-bottom: var(--section-border);
	padding:-2px;
}

.tablewrapper table tr:first-of-type th
{
	border-top:none;
}

.tablewrapper table tr:last-of-type td
{
	border-bottom:none;
}

button,
.button
{
	display: inline-block;
	color: white;
	background-color: var(--button-background);
	border-radius: 5px;
	border: 2px solid  var(--button-background);
	padding: 0.15em 0.5em 0.15em 0.5em;
	text-decoration: none;
}

button:disabled,
.button:disabled
{
	background-color: lightgray;
	border-color: lightgray;
	cursor: default;
}

.big_button
{
	font-size: 150%;
}

.small_button
{
	border: 1px solid var(--button-background);
	font-size: 73%;
}

.sortable th::before 
{
	font-family: 'Material Icons';
	font-weight: bold;
	font-style: normal;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga'; 
	content: "\e5d7";
	margin-right:0.2em;
	vertical-align:top;
	opacity: 0.5
}

.sortable th.sorted::before 
{
  opacity: 1
}

.sortable .sorted.descending::before
{
	content: "\e5ce";
}
.sortable .sorted.ascending::before
{
	content: "\e5cf";
}

.table-min-spacing td {
	min-width: 9em;
}

.qa-table {
	min-height: 60vh;
	max-height: 70vh;
	width: 100%;
}

.qa-table textarea {
	resize: none;
	min-height: 125px;
	width:140px;
}
.qa-table td {
	padding: .75em .5em;
	min-width: 0px;
	height: 5vh;
}

.qa-table td:nth-of-type(3) {
	max-width: 20vw;
}

.qa-table tr th:nth-of-type(2)
{
	width:35%;
}

.qa-justify {
	text-align: left;
	width: max-content;
	max-width: 100%;
	margin:auto;
}

jhrm-push-text-edit
{
	min-width: 8em;
}

jhrm-blast-gauge-issuance-editor
{
	border: 2px solid black;
	margin: 0.5em 0;
	padding: 0.5em;
}

jhrm-blast-gauge-dashboard,
jhrm-pcs-dashboard,
jhrm-psm-dashboard,
jhrm-jpdi-dashboard
{
	border: 5px solid gray;
	background-color: lightgray;
	padding: 0.5em;
}

jhrm-blast-gauge-dashboard th,
jhrm-blast-gauge-dashboard td,
jhrm-pcs-dashboard th,
jhrm-pcs-dashboard td,
jhrm-psm-dashboard th,
jhrm-psm-dashboard td,
jhrm-jpdi-dashboard th,
jhrm-jpdi-dashboard td
{
	text-align: center;
	border: 0;
	background-color: transparent;
	color: black;
}

jhrm-blast-gauge-dashboard button,
jhrm-pcs-dashboard button,
jhrm-psm-dashboard button,
jhrm-jpdi-dashboard button
{
	white-space: nowrap;
}

input:disabled
{
	color: lightgrey;
}