jhrm-hra-risk-assessment,
jhrm-hra-risk-assessment-headings
{
	grid-template-rows: repeat(4, 2rem) repeat(4, 1.7rem) repeat(2, 2rem);
}

jhrm-hra-risk-assessment *,
jhrm-hra-risk-assessment-headings *
{
	white-space: nowrap;
}

jhrm-hra-risk-assessment
{
	color: black;
	background-color: lightgray;
}